<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="SupabaseUrl" value="https://mrwucqzxbhmxsyfgqgwn.supabase.co" />
		<add key="SupabaseKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1yd3VjcXp4YmhteHN5ZmdxZ3duIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3MzA3MjgsImV4cCI6MjA2NTMwNjcyOH0.JR9e-Q3GH7QjI3DSOTAyR-Y9QeWJ5Dj71wWBvBoVWKw" />

		<add key="SmtpHost" value="smtp.mail.ru" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUseSsl" value="true" />
		<add key="SmtpUser" value="734f4pp3r@mail.ru" />
		<add key="SmtpPassword" value="QGRfkLjJyVQ4eXI4Oh2y" />
		<add key="FromEmail" value="734f4pp3r@mail.ru" />
	</appSettings>
</configuration>